@charset "utf-8";
@import url('base.css');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap');

*{ font-family:'Noto Sans KR', '돋움', 'Dotum', Apple Gothic, Tahoma, Verdana, sans-serif;}
/*
#1B1B1F
#26282B
#454C53
#72787F
#C9CDD2
#E8EBED
#F7F8F9
*/

/* --------------------------------------------
 * layout
/* ------------------------------------------ */
/**TOP / FOOT레이아웃 공통 css*/

/*continer 폰트*/
#container .txt_blue{text-align:left; font-size: 1rem; margin-top: 30px; color:#337AF2; font-weight:700; margin-bottom: 10px; display: block;}
#container .txt_black{text-align:left; font-size: 1rem; color:#1B1B1F; font-weight:400; margin-bottom: 4px; display: block;}
#container .txt_gray{text-align:center; font-size: 1rem; color:#72787F; font-weight:400; margin-top:15px; display: block; text-align: 1.5;}

/*continer 버튼*/
#container .serchbtn-bl {font-size: 15px; display:inline-block; width:50px; 
height: 36px; border-radius: 4px; text-align: center; color: #fff; background: #337AF2; 
margin-bottom:10px;line-height: 33px}
#container .serchbtn-bl:hover{background-color:rgba(51,122,242,0.6); color: #fff;}
#container .serchbtn-bl2 {font-size: 15px; display:inline-block; width:70px; 
height: 36px; border-radius: 4px; text-align: center; color: #fff; background: #337AF2; 
margin-bottom:10px;line-height: 33px}
#container .serchbtn-bl2:hover{background-color:rgba(51,122,242,0.6); color: #fff;}
#container .serchbtn-bl3 {font-size: 15px; display:inline-block; width:105px; 
height: 36px; border-radius: 4px; text-align: center; color: #337AF2; 
background: #fff; margin-bottom:10px;line-height: 33px; border: 1px #337AF2 solid}


#container .serchbtn-wh {font-size: 15px; display:inline-block; width:50px; height: 36px; border-radius: 4px; text-align: center; border:1px #337AF2 solid; color: #337AF2; background: #fff;  margin-bottom:10px; margin-left: 6px}
#container .serchbtn-wh:hover{background-color:rgba(51,122,242,0.6); color: #fff;}

/*로그인*/
#container .inbx {background-color: #F7F8F9}
#container .inbx  .inner2{ max-width: 1000px; margin:0 auto; padding:200px 0;text-align: center;}
#container strong{ display: block; font-weight:600; line-height: 1.2; font-size: 1.18rem; margin: 1%;  color:#337AF2; margin-top: 40px;}
#container .inner2 span{ display: block; font-weight:400; font-size: 0.9rem; margin: 1%; color:#337AF2;}
#container a{text-decoration: none;}
#container a:hover{color: #015EC7; cursor:pointer;}
#container .inner2>hr{width: 47%; margin-top:14px;}
#container .loginicon{width:44px; margin: 4px;}
#container .loginbtn{width: 470px;}
#container form input{margin-bottom:10px;}

/*회원가입*/
#container input{margin-bottom: 0}
#container .checks{text-align:left; font-size: 0.9rem; margin-top: 1%;margin-bottom:30px;}
#container label>a{color: #015EC7;}

/*마이페이지*/
#container .inner4{ max-width: 800px; margin:0 auto; padding:100px 0;}
#container .mgroup-right{width: 78%; height:900px; background-color: #fffff; float: right; margin:auto; padding:16px 23px; display: table-cell;}

.mtxt_blue{text-align:left; font-size: 1rem; color:#337AF2; font-weight:700; margin-bottom: 10px; display: block;}
.mtxt_black{text-align:left; font-size: 1rem; color:#1B1B1F; font-weight:400; display: inline-block;}
.mtxt_black2{text-align:left; font-size: 18px; color:#1B1B1F; font-weight:400; display: inline-block;}
.mtxt_gray{text-align:left; font-size: 1rem; color:#72787F; font-weight:400; display: inline-block; }
.mtxt_gray2{text-align:left; font-size: 1rem; color:#72787F; font-weight:400; margin:0 32px 10px 0; display: inline-block;}
.mtxt_gray3{text-align:left; font-size: 14px; color:#72787F; font-weight:300; display: inline-block;}
.mtxt_small_gray{text-align:left; font-size: 12px; color:#72787F; font-weight:300; display: inline-block;}
.mtxt_small_blue{text-align:left; font-size: 14px; color:#337AF2; font-weight:300; display: inline-block;}

/*마이페이지-left*/
#container .micon::before
{ content: ''; width: 35px; height: 30px; display: inline-block; background:url('../images/profile.png') 50% 50% no-repeat; vertical-align: -7px; margin-right:5px;}

/*마이페이지-right*/

/* 마이페이지 기본화면*/
#container .photo {display: block;  width: 100px;  height: 100px;  background: #E6E7ED; border-radius: 50%; background-position: center;  background-size: cover;  background-repeat: no-repeat; margin:20px auto; }
#container .txt01{ font-size: 36px; color:#1B1B1F; font-weight: 200;}
#container .txt02{ font-size: 18px; color:#a6a6a6; margin-top:40px;}

/*회원정보 수정*/
#container .mtitle{font-weight:600;font-size: 1.18rem; color:#1B1B1F;display: inline-block; height: 40px; width: 100%; border-bottom: 2px solid #C9CDD2; margin: 50px 0 16px 0}
#modify-name{margin-left: 20px;}
#modify-email, #modify-nickname{margin-left: 4px;}
#container .modifyform {margin-bottom: 20px}
#container .modifybtn {font-size: 12px; display:inline-block; width:85px; height: 36px; border:rgba(51,122,242,0.8) 1px solid; border-radius: 4px; text-align: center; color: #fff; background: rgba(51,122,242,0.6); margin-left: 10px}
#container .modifybtn:hover{ border-color:#337AF2; background-color:#337AF2; color: #fff;}
#modifybtn2,#cancelbtn{margin:40px 0;}

/*즐겨찾기, 진행중인 여행*/
#container .select-mcate{width:100%; height:76px; 
background-color: #F7F8F9; padding:15px 20px; 
border-bottom: 1px #C9CDD2 solid}

.group-box2{width:100%; height:140px; display: inline-block; border-bottom: 1px solid #D8D8D8; padding:  20px 0 20px 20px;}
.profile2 {display: inline-block; width:100px; height:100px;  float:left; background-color:#015EC7; border-radius: 50%;}


.group-txt2 {float:left; width:65%; height:100%; margin-left: 14px;}
.m-cancle, .m-enter { font-size: 12px; display: inline-block; width:50px; height: 24px; border:#337AF2 1px solid; border-radius: 2px; text-align: center; color: #337AF2; margin-top: 40px; float:right;}

.m-arrow{margin:0 10px; display: inline-block;}

/*즐겨찾기 팝업 showFavorite()*/
#container .showFavorite{background-color: #fff; float: right; margin:auto; padding:16px 23px; display: table-cell;}





/*채팅하기*/
#container .cicon::before
{ content: ''; width: 35px; height: 30px; display: inline-block; background:url('../images/chat.png') 50% 50% no-repeat; vertical-align: -7px; margin-right:5px;}
#container .profile-circle {display: inline-block;width:70px; height:70px;  float:left; background-color:#015EC7; border-radius: 35px;}

/*그룹목록*/
#container .inner3{ max-width: 1000px; margin:0 auto; padding:100px 0;}
/*그룹목록-left*/
#container .group-left{width: 22%; height: 800px; float: left; padding: 0 20px 30px 0; position: relative;}
#container .clear{clear:both;}

#container .gicon, .cicon, .micon, .picon{font-weight:400;font-size: 1.18rem; color:#1B1B1F; margin: 25px 0 10px 0; }
#container .gicon::before
{ content: ''; width: 35px; height: 30px; display: inline-block; background:url('../images/group.png') 50% 50% no-repeat; vertical-align: -7px; margin-right:5px;}
#container .gicon .btn, #container .cicon .btn{margin-bottom:30px;}
#container .chatBottom{}

/*그룹목록-right*/
#container .group-right{width: 78%; background-color: #fff; float: right; margin:auto; padding:16px 23px; display: table-cell;}
#container .group-box{width:340px; height:80px; margin: 12px; display: inline-block; border-bottom: 1px solid #D8D8D8; }
#container .profile {display: inline-block;width:70px; height:70px;  float:left; background-color:#015EC7;}
#container .group-txt b {font-size: 11px;}
#container .group-txt {float:left; width:200px; height:80px; padding: 3px; margin-left: 10px;}
#container .group-txt span {display: block; font-weight:400; font-size: 0.9rem; color:#1B1B1F;}
#container .enter { font-size: 12px; display: inline-block; width:50px; height: 24px; border:rgba(51,122,242,0.8) 1px solid; border-radius: 2px; text-align: center; color: #fff; background: rgba(51,122,242,0.6); margin-top: 20px; float:right;}
#container .enter:hover{ border-color:#337AF2; background-color:#337AF2; color: #fff;}

/*그룹 게시판*/
.pagention{text-aline:center; margin:auto;}


#container .board_textarea{border:1px solid #337AF2; border-radius:4px;}
#container .board_title{text-align:center; font-size: 20px; color:#337AF2; margin-bottom:30px; font-weight:600;}
#container .board_content{word-break: break-all; font-size:18px; color:#72787F; padding:40px 120px 40px 40px}
#container .context{width: 70%; word-break: keep-all; display: inline-block; margin-bottom:15px; }
#container .title{margin-top: 24px;}
#container .map-setting{ width: 400px; height: auto;text-align: center; margin:auto;}
#container .departure, #container .arrival{ float: left;}
#container .departure::before
{content: ''; width: 50px; height: 25px; display: inline-block; background:url('../images/start.png') 50% 50% no-repeat; vertical-align:-8px; margin-right:5px;}
#container .arrival::before
{content: ''; width: 50px; height: 25px; display: inline-block; background:url('../images/finish.png') 50% 50% no-repeat; vertical-align:-8px; margin-right:5px;}
#container .mappick{float: right;}
#container .boardinner .mapview{width:100%; border:1px solid #337AF2; margin-bottom: 40px;}
#container .addpath{margin: 0 18px 0 14px; float:left; width:14pt;height:10pt;}
#container .addpathtxt{font-size: 14px; color:#337AF2; float:left;}
#container #gochat{margin: 90px 0 50px 0;}

/*그룹추가 모달+*/
#groupModal .modal-body .comment,
#chatModal .modal-body .comment
{text-align:left; font-size: 14px; line-height: 1.6; margin-bottom:30px; color:#72787F;}
#groupModal .modal-body .title
#chatModal .modal-body .title
{color: #337AF2;}
#groupModal .form-control,
#chatModal .form-control
{margin-bottom: 20px;}
#groupModal .btn,
#chatModal .btn
{height:80%; vertical-align:10px;}
#groupModal .title>button,
#chatModal .title>button
{float:right;font-size: 14px; color:#72787F;}
#groupModal span,
#chatModal span
{display: inline-block;margin-bottom: 15px;}
#groupModal .departure::before,
#chatModal .departure::before
{content: ''; width: 50px; height: 25px; display: inline-block; background:url('../images/start.png') 50% 50% no-repeat; vertical-align:-8px; margin-right:5px;}
#groupModal .arrival::before
{content: ''; width: 50px; height: 25px; display: inline-block; background:url('../images/finish.png') 50% 50% no-repeat; vertical-align:-8px; margin-right:5px;}
#groupModal .mappick
{float: right;}
#groupModal .mapexsize
{width:100%;  border:1px solid #337AF2; margin:10px 0;}
#groupModal .addpath
{margin: 0 18px 0 14px; }
#groupModal .addpathtxt
{font-size: 14px; color:#337AF2;}


/* 댓글기능 */
.comment_box{width:100%; height:150px; padding:20px 0}
.comment_area{width:100%; border-radius:4px; border:1px #C9CDD2 solid; }
.comment_btn{width:30px; height:30px; 
border-radius:4px; color:white; padding-top:3px;}
.panel-body { padding:0px; border-top:2px #337AF2 solid; 
border-bottom:2px #337AF2 solid; margin-bottom:50px;}
.panel-title { display:inline }
.label-info { float: right; }
.list-group-item {border-radius: 0;border: 0;border-top: 1px solid #ddd; position:relative}
.list-group-item:hover { background-color: rgba(86,61,124,.1); }
.mic-info { color: #1B1B1F;font-size: 14px; display:inline-block; 
width:80%;}
.action { item-align:center; float:right; position:absolute; right:3%; top:15px}
.comment-text { font-size: 12px; display:inline-block}
.btn-block { border-top-left-radius:0px; border-top-right-radius:0px; }
.commet{width:12px; height:12px; border-bottom:1.2px #337AF2 solid; 
border-left:1.2px #337AF2 solid; float:left; margin-right:20px; margin-top:3px}

/*채팅화면*/

#chatModal .photo {  display: block;  width: 80px;  height: 80px;  background: #E6E7ED; border-radius: 50%; background-position: center;  background-size: cover;  background-repeat: no-repeat; margin:auto; }
#chat .online {  position: relative;  top: 30px;  left: 35px;  width: 13px;  height: 13px;  background-color: #8BC34A;  border-radius: 13px;  border: 3px solid #FAFAFA;}
#chat .header-chat {  background-color: #FFF;  height: 90px;  box-shadow: 0px 3px 2px rgba(0,0,0,0.100);  display:flex;  align-items: center;}
#chat .header-chat .icon {  margin-left: 30px;  color:#337AF2;  font-size: 15pt;}
#chat .header-chat .name {  margin: 0 0 0 20px; font-weight:900;  font-size: 13pt;  color:#337AF2; line-height: 2;}
#chat .header-chat .right {  position: absolute;  right: 40px;}
#chat .messages-chat {  padding: 25px 35px;}
#chat .messages-chat .message {  display:flex;  align-items: center;  margin-bottom: 8px;}
#chat .messages-chat .message .photo {  display: block;  width: 45px;  height: 45px;  background: #E6E7ED;  -moz-border-radius: 50px;  -webkit-border-radius: 50px;  background-position: center;  background-size: cover;  background-repeat: no-repeat;}
#chat .messages-chat .text {  margin: 0 35px;  background-color: #f6f6f6;  padding: 15px;  border-radius: 12px;}
#chat .text-only {  margin-left: 45px;}
#chat .time {  font-size: 10px;  color:lightgrey;  margin-bottom:10px;  margin-left: 85px;}
#chat .response-time {  float: right;  margin-right: 40px !important;}
#chat .response {  float: right;  margin-right: 0px !important;  margin-left:auto;}
#chat .response .text {  background-color: #e3effd !important;}
#chat .footer-chat {width: 100%; height: 80px;  display:flex;  align-items: center;  position:absolute;  bottom: 0;  background-color: transparent;  border-top: 2px solid #EEE;}
#chat .footer-chat .icon1{  margin-left: 30px;  color:#C0C0C0;  font-size: 14pt;}
#chat .footer-chat .icon1:hover{color: #337AF2}
#chat .footer-chat .send {  color:#fff;  background-color: #337AF2;  position: absolute;  right: 50px;  padding: 12px 12px 12px 12px;  border-radius: 50px;  font-size: 14pt;}
#chat .footer-chat .send:hover{opacity: 0.7;}
#chat .footer-chat .name {  margin: 0 0 0 20px;  text-transform: uppercase;  font-family:'Montserrat', sans-serif;  font-size: 13pt;  color:#515151;}
#chat .footer-chat .right {  position: absolute;  right: 40px;}
#chat .write-message {  border:none !important;  width:100%;  height: 50px;  margin-left: 20px;  padding: 10px; color:#757575}

.clickable {  cursor: pointer;}

.footer-chat *::-webkit-input-placeholder {  color: #C0C0C0;  font-size: 13pt;}
.footer-chat input *:-moz-placeholder {  color: #C0C0C0;  font-size: 13pt;}
.footer-chat input *::-moz-placeholder {  color: #C0C0C0;  font-size: 13pt;  margin-left:5px;}
.footer-chat input *:-ms-input-placeholder {  color: #C0C0C0;  font-size: 13pt;}


/*맵 메인페이지*/

#map_search{padding:20px 20px 0 20px; height:125px; background: #337AF2; position: fixed; left:0; top:0; width: 300px; z-index:999; box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);}
#map_search>img{width:120px; margin:auto;}
#map_search .logo>img{width:50px; margin-right: 14px;}
#map_search .logo:hover{opacity: 0.6;}
#map_search .sub{float: right; color: #A4C9FF; font-size: 11px; margin-top:7px;}
#map_search .search-bar{width: 100%; vertical-align: middle;  white-space: nowrap; margin-top: 20px;}
#map_search .search-bar input#searchingPlace{width: 100%; height: 47px; background: #fff; border: none; font-size: 16px; float: left; color: #495057; padding-left: 15px; border-radius: 4px; font-weight: 400; box-shadow: 0 3px 1px #2B75E0;}
#map_search .search-bar input.icon{border: none; width: 48px;  opacity: 0.6; margin-left: -40px; cursor:pointer; padding:13px;}
#map_search .search-bar:hover input.icon, #map_search.search-bar:active input.icon, #map_search.search-bar:focus input.icon{outline: none; border:none; opacity: 1;}

#map_check {padding:20px; width: 300px; height:240px; background: white; position: fixed; left:0; top:126; z-index:998; box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);}
#map_check .departure::before
{content: ''; width: 35px; height: 25px; display: inline-block; background:url('../images/start.png') 50% 50% no-repeat; vertical-align:-8px; margin-right:5px;}
#map_check .arrival::before
{content: ''; width: 35px; height: 25px; display: inline-block; background:url('../images/finish.png') 50% 50% no-repeat; vertical-align:-8px; margin-right:5px;}
#map_check span{display: inline-block; margin-bottom: 15px; }
#map_check #map_send{ font-size: 12px; display: inline-block; width:70px; height: 30px; border-radius: 2px; text-align: center; color: #337AF2; background: #fff; border:1px solid #337AF2 }
#map_check #map_send:hover{background-color:#337AF2; color: #fff;}
#map_check .addpath{margin: 0 8px 0 8px; }
#map_check .addpathtxt{font-size: 14px; color:#337AF2;}
#map_check .mappick{float: right;}
#point1, #point2 {display:none;}
#startPointInfo, #endPointInfo {height: 60px;font-size: 0.5em; float:left;}

/*MAP Api 서치바*/

.map_search #map_send { height:30px;line-height:30px;padding:0 10px;font-size:12px;
border:solid 1px #555;border-radius:3px;cursor:pointer;box-sizing:content-box; }

/*왼쪽 메뉴바*/
#lm{ position: fixed; left:-100%; top:0; width:250px; height: 100vh; 
background-color:#337AF2; z-index: 4; transition:all 0.2s ease-in-out; }
#lm.open{ left:0;}
#lm .inner{ height: 100vh;}
#lm .hd{ height: 100px; max-width: 1200px; margin:0 auto; position: relative;}
#lm .hd .close{ position: absolute; top:33px; right: 20px; width:33px; 
height: 33px; background:url('../images/bt_close.png') 50% 50% no-repeat; 
display: block; text-indent: -9999px;}
#lm .hd .close:hover{ transform: rotate(90deg);}
#lm .menu{ max-width: 1200px; margin:auto; text-align: left; color: #fff; 
padding:0 50px;}
#lm .menu > em{ display: block; font-size: 40px; font-weight: 500; 
font-family: 'Gotham Book'; font-weight: 600; margin-bottom:10px;}
#lm .menu p{ font-size: 20px; color:#fff; display: inline-block;
cursor:pointer; margin:12px 0;} 
#lm .menu a{ font-size: 16px; color:#fff; display: block; 
text-decoration: none;}
#lm .menu a:hover{ color:#64FFFF}
#lm .menu_icon {float:right; margin-top:15px; cursor:pointer}
#lm .menu_second{margin-left:15px;display:none; padding-bottom:20px}
#lm .menu_second>li{margin-bottom:5px}
#lm .li_pack{display:inline-block; width:100%; height:45px; backgroun-color:black;}


.mbg{ display:none; position:fixed; left:0; top:0; width:100%; height:100%; background-color:#1B1B1F;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; filter:alpha(opacity=70); opacity:.7; z-index:3;}
body.ovf_hdn, .ovf_hdn{ overflow:hidden; height:100%;}

#wrap{ position:relative; width:100%; min-width: 1200px; margin:0 auto; overflow:hidden; }

#header{ position:fixed; top:0; left:0; width:100%; z-index:3; transition:all 0.2s ease-in-out;}
#header2{ position:fixed; top:0; left:0; width:100%; z-index:3; transition:all 0.2s ease-in-out;  background-color:#337AF2}

#header .inner,
#header2 .inner2
{position: relative; max-width:1200px; margin:0 auto; height: 80px; text-align: right; padding:20px 0 0 0;}
#header a:hover, #header2 a:hover{ text-decoration: none;}
#header .inner::after,
#header2 .inner2::after
{ content: ''; clear: both; display: block; font-size: 0;}
#header h1.logo, #header2 h1.logo
{ position: absolute;
  top:22px; left:0; width:102px;
  text-align: left;}
#header h1.logo > a, #header2 h1.logo > a
{ height:36px; text-indent: -9999px;
  display: block;
  background: url('../images/RUN_LOGO.png') no-repeat;}
#header h1.logo > a:hover,
#header2 h1.logo > a:hover
{opacity: 0.6;}
#header .utill, #header2 .utill2{ display: inline-block;}
#header .utill a, #header2 .utill2 a{ display: inline-block; color:#fff; height: 40px; line-height: 38px; font-weight: 200; opacity: 0.8;}
#header .utill a.doc, #header2 .utill2 a.doc{ margin-left:50px;}
#header .utill a.doc:hover, #header2 .utill2 a.doc:hover{opacity: 1;}
#header .utill a.doc::before,
#header2 .utill2 a.doc::before
{ content: ''; width: 18px; height: 18px; display: inline-block; background:url('../images/ic_doc.png') 50% 50% no-repeat; vertical-align: -4px; margin-right:6px;}
#header .utill a.sup, #header2 .utill2 a.sup{ margin-left:30px;}
#header .utill a.sup:hover,#header2 .utill2 a.sup:hover{opacity: 1;}
#header .utill a.sup::before,#header2 .utill2 a.sup::before { content: ''; width: 18px; height: 18px; display: inline-block; background:url('../images/ic_monitor.png') 50% 50% no-repeat; vertical-align: -2px; margin-right:6px;}
#header .lang, #header2 .lang2{ display: inline-block; margin-left:10vw;}
#header .lang a, #header2 .lang2 a{ position: relative; display: inline-block; font-size: 14px; color:#fff; text-transform: uppercase; opacity: 0.7; line-height: 40px; font-weight: 200;}
#header .lang a:hover, #header2 .lang2 a:hover{ opacity: 1;}
#header .lang a.active::after,
#header2 .lang2 a.active::after
{ content:''; position: absolute; bottom:5px; left:0; width:100%; height:1px; background-color:#fff;}
#header .lang a + a, #header2 .lang2 a + a{ margin-left:7px;}
#header.fixed, #header2.fixed{ background-color:#337AF2;}
#wrap.w2 #header,
#wrap.w3 #header,
#wrap.w4 #header,
#wrap.w5 #header,
#wrap.w6 #header{ background-color:#337AF2;}

#indexwrap{ position: relative; clear:both; z-index:1;}

#footer{ position: relative; z-index: 1; padding: 70px 0; background-color:#9ea1a9;}
#footer .bt-top{ width:54px; height: 54px; position: absolute; top:0; right:0; background:#9ea1a9 url('../images/bt_top.png') 50% 50% no-repeat; border:#fff 2px solid; box-shadow: 0 0 10px rgba(0,0,0,.2); border-radius:50%; text-indent: -9999px; text-align: left;}
#footer .footer-wrap{ max-width: 1200px; margin:0 auto; position: relative; padding:0 0 120px 210px; background:url('../images/RUN_LOGO_GRAY.png') 0 0 no-repeat;}
#footer .footer-lnk{ display: table; width:100%; table-layout: fixed;}
#footer .footer-lnk > li{ display: table-cell; vertical-align: top;}
#footer .footer-lnk > li.quick{ width:310px;}
#footer .footer-lnk > li.contact{ width:430px;}
#footer .footer-lnk > li > strong{ color:#fff; display: block; font-size:20px; font-weight:400;}
#footer .footer-lnk > li > ul{ margin-top:15px;}
#footer .footer-lnk > li > ul > li{ color:#d4d4d4; padding:3px 0;}
#footer .footer-lnk > li > ul > li a{ display: block; color:#d4d4d4;}
#footer .footer-lnk > li > ul > li a:hover{ color:#fff; }
#footer .footer-lnk > li.quick > ul > li{ width:115px; float:left; }
#footer .footer-lnk > li > ul > li em{ color:#fefefe;}
#footer .footer-lnk > li.link > ul{ padding-top:30px;}
#footer .footer-inf{ border-top:#9699a0 1px solid; padding:40px 0 0 0;}
#footer .footer-inf p{ text-align: center;}
#footer .footer-inf .copy{ color:#fff;}
#footer .footer-inf .cmt{ font-size: 12px; color:#bbbdc3; margin-top:25px;}

.bt-mn{ position: fixed; top:0; left:0; width: 100px; height: 100vh; z-index: 3;}
.bt-mn::before{ content: ''; width: 1px; height: 100vh; background-color:rgba(51,122,242,.5); display: block; position: absolute; right: 0; top:0; transition:all 0.2s ease-in-out; }
.bt-mn > a{ width:14px; height: 20px; position: absolute; top:50%; left:50%; margin:-10px 0 0 -7px; display: block;}
.bt-mn > a span{ position: absolute; top:-9999px; left: -9999px;}
.bt-mn > a > i{ display: block; width:2px; height: 20px; background-color:rgba(51,122,242,.5); position: absolute; top:0; transition:all 0.2s ease-in-out; }
.bt-mn > a > i:nth-child(1){ height: 14px; left:0;}
.bt-mn > a > i:nth-child(2){ left:6px;}
.bt-mn > a > i:nth-child(3){ left:12px;}
.bt-mn > a:hover > i:nth-child(1){ height: 20px;}
.bt-mn > a:hover > i:nth-child(2){ height: 14px;}
#wrap.w2 .bt-mn::before,
#wrap.w3 .bt-mn::before,
#wrap.w6 .bt-mn::before{ background-color:rgba(0,0,0,.05);}
#wrap.w2 .bt-mn > a > i,
#wrap.w3 .bt-mn > a > i,
#wrap.w6 .bt-mn > a > i{ background-color:#2654c3; }

.bt-mn.color::before{ background-color:rgba(0,0,0,.05);}
.bt-mn.color > a > i{ background-color:#2654c3; }

#gnbWrap{ position: fixed; top:0; right:0;  width: 100px; height: 100vh; z-index: 3;}
#gnbWrap::before{ content: ''; width: 1px; height: 100vh; background-color:rgba(255,255,255,.2); display: block; position: absolute; left: 0; top:0;}
#gnb{ width:100vh; transform: rotate(90deg); margin-left:-45vh; margin-top:50vh; text-align: center;}
#gnb > li{ display: inline-block; padding:0 10px;}
#gnb > li > a{ position: relative; display: block; font-size: 12px; color: #fff; text-transform: uppercase; color: #2654c3; text-decoration: none;}
#gnb > li > a::after{ transition:all 0.2s ease-in-out; }
#gnb > li.active > a{ color: #2654c3;}
#gnb > li.active > a::after{ content: ''; width:100%; height: 1px; display: block; background-color:#fff; position: absolute; bottom:-39px; left:0;}
#wrap.w2 #gnbWrap::before,
#wrap.w3 #gnbWrap::before,
#wrap.w6 #gnbWrap::before{ background-color:rgba(0,0,0,.05);}
#wrap.w2 #gnb > li.active > a,
#wrap.w3 #gnb > li.active > a,
#wrap.w6 #gnb > li.active > a{ color: #2452c0;}
#wrap.w4 #gnb > li > a{ color: rgba(255,255,255,.5);}
#wrap.w4 #gnb > li.active > a{ color: rgba(255,255,255,1);}
#wrap.w2 #gnb > li.active > a::after,
#wrap.w3 #gnb > li.active > a::after,
#wrap.w6 #gnb > li.active > a::after{ background-color:#2452c0; }


/* common */
.pager{ position: absolute; width: 100%; left:0; z-index: 4;}
.pager .swiper-pagination-bullet{ display: inline-block; width: 6px; height: 6px; border-radius: 50%; border:#a1a1a1 1px solid; background-color:transparent; opacity: 1;}
.pager .swiper-pagination-bullet + .swiper-pagination-bullet{ margin-left:6px;}
.pager .swiper-pagination-bullet.swiper-pagination-bullet-active{ border-color:#337AF2; background-color:#337AF2;}
.swiper-container-3d .swiper-slide-shadow-left{ display: none;}
.swiper-container-3d .swiper-slide-shadow-right{ display: none;}

.f-eng{ font-family: 'Gotham Bold';}

.opacity{ opacity: 0;}



/* index */
#indexwrap .fp-scroller{ padding:50px 0;}
#indexwrap .section .inner{ padding:50px 0;}

#indexwrap .intro{ background-size:cover;}
#indexwrap .intro .desc{ position: relative; max-width: 1200px; margin:0 auto; color:#fff; z-index:2;}
#indexwrap .intro .desc .tx01{ font-size:54px; }
#indexwrap .intro .desc .tx01 span{ display: block; font-weight: 200; line-height: 1.2;}
#indexwrap .intro .desc .tx02{ font-weight: 900; font-size:100px;letter-spacing: .1em; margin:25px 0;}
#indexwrap .intro .desc .tx03 span{ display: block; font-size: 20px; color: #337AF2; opacity: 0.8; margin-top: 15px;}
#indexwrap .intro .desc .tx03 strong{color: #337AF2;}
#indexwrap .intro .desc .bt-area{ margin-top:100px;}
#indexwrap .intro .desc .bt-area a{text-decoration:none; display: inline-block; width:200px; height: 55px; line-height: 53px;  margin-right: 12px; border:rgba(51,122,242,0.8) 1px solid; border-radius: 5px; text-align: center; color: #337AF2; background: rgba(51,122,242,0.5);}
#indexwrap .intro .desc .bt-area a:hover,
#indexwrap .intro .desc .bt-area a.active{ border-color:#337AF2; background-color:#337AF2; color: #337AF2;}
#indexwrap .intro .video-bg{ position:absolute; overflow:hidden; top:50%; left:0; margin-top:-540px; width:1920px; height:1080px; }
#indexwrap .intro .video-bg video{ position:absolute; left:0;  min-width:100%; min-height:100%; object-fit: cover;}
#indexwrap .intro .fp-tableCell{ overflow:hidden;}

.main-tit{ text-align: center; margin-bottom:80px; color: 337AF22; font-size: 14px; text-transform: uppercase; letter-spacing: .2em;}

.index01{ z-index:2; background-color:#fff;}
.index01 .inbx{ width: 1600px; margin:0 auto; display: table; table-layout: fixed;}
.index01 .inbx > *{ display: table-cell; vertical-align: top;}
.index01 .movie{background:#337AF2 url('../images/map.png') no-repeat center;}
.index01 .movie{ position: relative; }
.index01 .movie::before{ content: ''; position: absolute; top:0; left:0; height: 100%; bottom:0; right:0; width: 100%; background-color:rgba(51,122,242,0.2);}
.index01 .movie .play{ display: inline-block; position: absolute; top:50%; left: 50%; color: #78FFC4; text-transform: uppercase;  margin:-55px 0 0 -80px; font-size: 24px; font-weight: 600; text-align: center; text-shadow: 0 0 3px #337AF2;filter: drop-shadow(0 0 3px #337AF2);}
.index01 .movie .play::before{ content: ''; width:70px; height: 70px; display: block; background:url('../images/loc.png') 50% 50% no-repeat; margin:0 auto 18px;}
.index01 .movie .play:hover{ opacity: .8;}
.index01 .desc{ padding-left:10vw;}
.index01 .desc .tx01{ font-size: 40px; color:#111; font-weight: 200;}
.index01 .desc .tx01 span{ display: block;}
.index01 .desc .tx01 strong{ display: inline-block; position: relative;}
.index01 .desc .tx01 strong::before{ content: ''; width:100%; height: 1px; display: block; background-color:#111; position: absolute; bottom:8px; left:0;}
.index01 .desc .tx02{ font-size: 22px; color:#a6a6a6; margin-top:40px; }
.index01 .desc .tx02 span{ display: block;}
.index01 .desc .tx02 span em{ color:#337AF2;}
.index01 .tx-slide{ position: relative; margin-top:100px; width: 450px; padding-top:50px;}
.index01 .tx-slide .hd{ font-size: 40px; color:#337AF2;}
.index01 .tx-slide .txt{ font-size: 16px; margin-top:35px; }
.index01 .tx-slide .txt span{ display: block;}
.index01 .tx-slide .txt em{ color:#337AF2;}
.index01 .tx-slide .side-bx{ overflow: hidden;}
.index01 .tx-slide .pager{ position: absolute; width: 100%; top:-40px; left:0; bottom: auto; padding: 0; text-align: left;}

.index02{ background-color:#f8f8f8;}
.index02 .inbx{ max-width:1200px; margin:0 auto;}
.index02 .inbx::after{ content: ''; clear: both; display: block; font-size: 0;}
.index02 .inbx .desc{float: left; width: 350px; height: 300px; color:#111; font-size:22px; margin-top:100px;}
.index02 .inbx .desc .hd{ font-size: 40px; margin-bottom:30px;}
.index02 .inbx .desc .bd{ color:#757575;}
.index02 .inbx .desc span{ display: block; line-height: 1.2;}
.index02 .inbx .desc strong{ display: inline-block; position: relative;}
.index02 .inbx .desc strong::before{ content: ''; width:100%; height: 1px; background-color:#111; position: absolute; bottom:10px; left:0;}
.index02 .inbx .group {float:right; width: 800px; height: 150px;}
.index02 .inbx .profile {display: inline-block; width:100px; height:100px;  float:left; border-radius: 50%;}
.index02 .inbx .profile01 {background:#015EC7 url('../images/user/bike1.jpg') no-repeat center;}
.index02 .inbx .profile02 {background:#015EC7 url('../images/user/bike2.jpg') no-repeat center;}
.index02 .inbx .profile03 {background:#015EC7 url('../images/user/bike3.jpg') no-repeat center;}
.index02 .inbx .enter { font-size: 12px; display: inline-block; width:50px; height: 24px; border:#337AF2 1px solid; border-radius: 2px; text-align: center; color: #337AF2; margin: 40px 30px 0 0; float:right;}

#indexwrap .index05.section .inner{ padding-bottom:0;}
.index05{ background-color:#f7f7f7;}
#indexwrap .index05 .fp-scroller{ padding-bottom:0;}
.index05 .inbx{ max-width: 1200px; margin:0 auto; padding:0 0 80px 0;}
.index05 .desc{ font-size: 40px; color: #111; text-align: center; margin-bottom: 40px;}
.index05 .part-bx{ position: relative; padding-bottom:40px;}
.index05 .part-bx::after{ content: ''; clear: both; display: block; font-size: 0;}
.index05 .part-bx .side-bx{ overflow: hidden;}
.index05 .part-bx .side-bx ul{ margin-left:-20px; overflow: hidden;}
.index05 .part-bx .side-bx ul li img{ transition:all 0.2s ease-in-out; 
width:100%; max-width: 224px; height:auto; vertical-align: center; z-index:-2}
.index05 .part-bx .side-bx ul li:hover img{transform:scale(1.1); opacity: .8; }
.index05 .part-bx .copr{ width:224px; height: 224px; float: left; 
margin:10px 0 10px 20px; background-color:#fff; overflow:hidden;
z-index:-99; position:relative; text-align:center;}

.index05 .part-bx .copr .ul_back{background-color:#337AF2; z-index:10; position:absolute; bottom:0;
width:100%; height:50px; opacity:0.8; padding-top:14px}
.index05 .part-bx .copr span{display: block; color:#fff;}
.index05 .part-bx .copr .logo{ display: inline;}
.index05 .part-bx .pager{ position: relative; bottom:auto; margin-top:40px; text-align: center;}

.sub-vis{ background-color:#337AF2; background:url('../images/park.jpg'); background-repeat: no-repeat; background-size: cover;}
.sub-vis .inbx{ position: relative; padding:180px 0 0 0; height: 500px; max-width: 1200px; margin:0 auto;}
.sub-vis .sub-tit{ position: relative; font-size: 66px; color:#fff; margin-top:80px; z-index: 1;}
.sub-vis .copy{ font-size: 24px; color:#fff; margin-top:30px; font-weight: 200;position: relative;z-index: 1;}
.sub-vis .copy span{ display: block;}

.s-content .inner{ max-width: 1200px; margin:0 auto; padding:100px 0;}

.mob{ display: none;}

.layPop{ display: none; width: 800px; background-color:#fff; border-radius: 10px;}
.layPop .pop-tit{ height: 80px; line-height: 80px; padding:0 90px 0 35px; border-bottom:#ebebeb 1px solid; color:#111; border-radius: 10px 10px 0 0; font-size: 18px; font-weight: 400; background-color:#f3f3f3;}
.layPop .pop-tit em{ font-weight: 600;}
.layPop .pop-tit2{ margin-bottom:20px; font-size: 26px; color:#111; font-weight: 200; }
.layPop .pop-tit2 em{ font-weight: 400;}
.layPop .pop-con{ padding:50px 40px;}
.layPop .bt-close{ position: absolute; top:20px; right:40px; width:40px; height: 40px; border:#c3d2ed 2px solid; border-radius:50%; display: block; background:url('../images/blt_x.png') 50% 50% no-repeat;}
.layPop .bt-close:hover{ background-color:#c3d2ed;}
.layPop .bt-close span{ position: absolute; top:-9999px; left:-9999px;}
.layPop .reg-bx .dv-row{ display: table; width: 100%;}
.layPop .reg-bx .dv-row + .dv-row{ margin-top:5px;}
.layPop .reg-bx .dv-row > *{ display: table-cell; line-height: 46px;}
.layPop .reg-bx .dv-row .hd{ width: 100px; font-size: 16px; color:#111;}
.layPop .reg-bx .dv-row .hd::before{ content: ''; width: 3px; height: 3px; background-color:#e1e1e1; display: inline-block; border-radius: 50%; margin-right: 10px; vertical-align: 2px;}
.layPop .reg-bx .dv-row .input{ width: 340px;}
.layPop .reg-bx .dv-row .help-tx{ font-size: 14px; color:#111; display: inline-block;}
.layPop .dv-chk{ margin-top:30px; position: relative;}
.layPop .dv-chk label{ color:#111; margin-right:40px;}
.layPop .dv-chk label::before{ margin-right: 20px;}
.layPop .cmt{ margin:40px 0 25px; color:#a3a3a3;}
.layPop .cmt::before{ content: ''; width: 10px; height: 7px; background:url('../images/blt_dot.png') 50% 50% no-repeat; display: inline-block; vertical-align: middle; margin-right: 10px;}
.layPop .btn-box{ margin-top:60px;}
.layPop .btn-box .btn{ width:220px;}

.layPop2{ display: none; width: 540px; background-color:#fff; border-radius: 10px; padding:40px;}
.layPop2 .pop-tit{ font-size:28px; color:#111; font-weight: 200;}
.layPop2 .pop-tit em{ font-weight: 400;}
.layPop2 .pop-tit2{ color:#4374cf; font-size: 18px; font-weight: 400;}
.layPop2 .pop-con{ margin-top:40px;}
#pop-aggr .pop-con .ul-list01{ margin-top:20px;}
#pop-aggr .pop-con .ul-list01 li{ font-size:16px; font-weight: 200;}
#pop-aggr .btn{ width: 220px; margin-top:50px;}

.inf-scroll{ margin-top:70px; border: #e1e1e1 1px solid;}
.inf-scroll dt{ border-bottom:#f3f3f3 1px solid; line-height: 60px; height: 60px; color:#111; font-size:16px; padding:0 30px;}
.inf-scroll dd{ height: 190px; overflow-y: auto; padding:20px;}

.div-tab{ background-color:#f2f5fa; border-bottom:#e5ebf5 1px solid;}
.div-tab > ul{ max-width: 1200px; margin: 0 auto;}
.div-tab > ul::after{ content: ''; display: block; clear: both; font-size: 0; height: 0;}
.div-tab > ul > li{ float: left;}
.div-tab > ul > li > a{ display: block; line-height: 99px; height: 99px; position: relative; text-align: center; color:#3a5e9f; font-size: 24px; padding:0 35px; font-weight: 200;}
.div-tab > ul > li > a::after{ content:""; width: 100%; height: 3px; background-color:#3a5e9f; display: block; bottom:-1px; left:0; position: absolute; opacity: 0;}
.div-tab > ul > li.active > a{ color:#183d7f; font-weight: 400;}
.div-tab > ul > li.active > a::after{ opacity: 1;}

.filebox{ display: inline-block;}
.filebox input[type="file"]{ position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0;}
.filebox label{ display: inline-block; padding: 0 50px; color: #fff; vertical-align: middle; background-color: #4374cf; cursor: pointer; border-radius: 2px; height:40px; font-size:14px; line-height:40px; margin:0 0 0 5px;}
.filebox .upload-name{ width: 360px; display: inline-block; padding: 0 10px; line-height: 38px; height: 40px; font-size: 16px; vertical-align: middle; background-color: #fff; border: 1px solid #ebebeb; border-radius:2px; -webkit-appearance: none; -moz-appearance: none; appearance: none;}

table.data{ border-collapse:separate; *border-collapse:collapse; border-spacing:0px; clear:both; table-layout:fixed; border-top:#494949 2px solid; }
table.data thead th,
table.data tbody th{ padding:15px 0; text-align: center; background-color:#fbfbfb; color:#111; font-weight: 400; font-size: 18px; border-bottom:#e9e9e9 1px solid; border-left:#e9e9e9 1px solid;}
table.data tbody td{ padding:0 10px; text-align: center; border-bottom:#e9e9e9 1px solid; border-left:#e9e9e9 1px solid; font-size: 16px; height: 60px; vertical-align: middle;}
table.data .brdN{ border-left:none;}
table.data .l{ padding-left:25px; text-align: left;}
table.data .ul-list01{ padding:10px;}
table.data .ul-list01 li{ line-height: 1.4;}
table.data .cost{ text-align: right; padding-right:8%;}
table.data .dw1{ width: 15%;}
table.data .dw2{ width: 8%;}
table.data .dw4{ width: 8%;}



/* down */
.down-slide{ overflow: hidden; margin-bottom:80px;}
.down-slide .swiper-slide{ width: 380px; margin-right:30px;}
.down-slide .swiper-slide .box{ width: 100%; height: 290px; color:#fff; font-size: 16px; text-align: center; padding:45px 0 0 0;}
.down-slide .swiper-slide .box span{ display: block; font-size: 16px;}
.down-slide .swiper-slide .box strong{ display: block; font-size: 28px; margin-top:15px; font-weight: 400;}
.down-slide .swiper-slide .box .bt{ margin-top:75px; }
.down-slide .swiper-slide .box .bt .btn{ width: 180px; }
.down-slide .swiper-slide .box .bt .btn:hover{ opacity: .8;}
.down-slide .swiper-slide .box.itm1{ background: url('../images/down_img0101.jpg') 50% 50% no-repeat;}
.down-slide .swiper-slide .box.itm2{ background: url('../images/down_img0102.jpg') 50% 50% no-repeat;}
.down-slide .swiper-slide .box.itm3{ background: url('../images/down_img0103.jpg') 50% 50% no-repeat;}
.down-slide .pager{ display: none;}
.down-slide .swiper-slide .dw{ display:block; text-align:center; color:#225ce2; margin-top:25px;}

.tit-area{ position: relative; margin:0 0 10px; padding:0 0 30px 0;}
.tit-area::after{ content: ''; position: absolute; width: 28px; height: 3px; background-color:#337AF2; display: block; bottom: 0; left:0;}
.tit-area .tit{ position: relative; font-size: 36px; color:#111; font-weight: 400; padding:10px 0 0 0;}
.tit-area .tit::before{ content: ''; position: absolute; top:0; left:8px; width:3px; height: 3px; display: inline-block; border-radius: 50%; background-color:#337AF2;}
.tit-area .tit::after{ content: ''; position: absolute; top:0; left:16px; width:3px; height: 3px; display: inline-block; border-radius: 50%; background-color:#337AF2;}
.tit-area .tit em{ color:#337AF2;}

.sub-tit3{ margin:70px 0 20px; font-size: 28px; color:#336fdc; font-weight: 400;}
.sub-tit3 em{ font-weight: 600;}
.sub-tit1{ margin:50px 0 20px; font-size: 24px; color:#111; font-weight: 400;}

.ul-list01 li{ color:#111; text-indent: -15px; padding-left:15px;}
.ul-list01 li + li{ margin-top:5px;}
.ul-list01 li::before{ content: ''; background-color:#e2e2e2; display: inline-block; margin-right:10px; width:3px; height: 3px; border-radius: 50%; vertical-align: middle; color:#e1e1e1;}

/*service & policy*/
.ul-list02 li{ color:#111; text-indent: -15px; padding-left:15px; font-size: 16px; font-weight:400;}
.ul-list02 li ul {margin:10px 0;}
.ul-list02 li li {font-size:14px;font-weight:400;}
.ul-list02 li span {color:#7299df;}
.ul-list02 li + li{ margin-top:5px;}
.ul-list02 li li::before{ content: ''; background-color:#e2e2e2; display: inline-block; margin-right:10px; width:3px; height: 3px; border-radius: 50%; vertical-align: middle; color:#e1e1e1;}
.ul-list03 {margin:20px 0;}
.ul-list03 li { color:#111; text-indent: -15px; padding-left:15px; font-size: 16px; font-weight:400; }
.poltxt {font-size:18px; font-weight:400; margin:20px 0;}
/*service & policy*/

.down-bx .ul-list01 li{ font-size: 18px;}
.down-bx .tx-lg{ font-size:1.4rem; font-weight: 200; margin-bottom:1rem;}
.release-bx .ul-list01 li{ font-size: 18px;}

.s-content.down-gray{ background-color:#f9f9f9; }
.s-content.down-gray .tit-area em{ color:#9e0b0f;}
.s-content.down-gray .tit-area .tit::before,
.s-content.down-gray .tit-area .tit::after,
.s-content.down-gray .tit-area::after{ background-color:#9e0b0f;}
.s-content.down-gray .down-desc01{ font-size: 28px; color:#111; margin-top:70px;}
.s-content.down-gray .down-desc02{ margin-top:50px; border-top:#6584e0 1px solid;}
.s-content.down-gray .down-desc02 > li{ display: table; width: 100%; border-bottom:#eaeaea 1px solid; text-align: center; }
.s-content.down-gray .down-desc02 > li > *{ display: table-cell; padding:20px; width: 50%; vertical-align: middle;}
.s-content.down-gray .down-desc02 > li > div{ background-color:#fff; border-right:#eaeaea 1px solid; }
.s-content.down-gray .down-desc02 > li > div strong{ display: block; font-size: 20px; color:#111; font-weight: 400;}
.s-content.down-gray .down-desc02 > li > div span{ display: block; font-size: 16px; color:#bcbcbc;}
.s-content.down-gray .down-desc02 > li > a{ color:#337AF2; font-size: 20px;}
.s-content.down-gray .down-desc02 > li > a:hover{ text-decoration: underline;}

.inst-bt{ margin-top:70px;}
.inst-bt .bt-open{ border:#336fdc 2px solid; width:60px; height: 60px; border-radius: 50%; margin: 40px auto 0; display: block; text-indent: -9999px; background:url('../images/blt_open.png') 50% 50% no-repeat;}
.inst-bt .bt-open.active{ background:url('../images/blt_close.png') 50% 50% no-repeat;}
.inst-bt > h4{ display: block; font-size: 18px; color:#0d1d42; padding:0; margin:0 auto; width: 250px; font-weight: 400;}
.inst-bt > h4::after{ content: ''; display: block; width:100%; height: 2px; background-color:#0d1d42; margin-top:15px;}
.inst-guide{ border:#e1e1e1 1px solid; border-radius:10px; padding:60px; margin-top:80px; display: none;}
.inst-guide .item + .item{ margin-top:60px; padding-top:60px; border-top:#c7c7c7 1px dotted;}
.inst-guide .item > i{ display: inline-block; background-color: #336fdc; color:#fff; text-align: center; line-height: 30px; font-size: 12px; width: 30px; border-radius: 50%;}
.inst-guide .item .itm-bx{ position: relative; display: table; width: 100%; margin-top:40px;}
.inst-guide .item .itm-bx > *{ display: table-cell; vertical-align: top;}
.inst-guide .item .itm-bx h5{ font-size: 28px; color:#111; font-weight: 200;}
.inst-guide .item .itm-bx h5 em{ font-weight: 400;}
.inst-guide .item .itm-bx .desc{ padding-bottom: 110px;}
.inst-guide .item .itm-bx .desc ul.ul-list01{ margin-top:20px;}
.inst-guide .item .itm-bx .desc ul.ul-list01 li{ font-size:16px;}
.inst-guide .item .itm-bx .down-bt{ position: absolute; bottom: 0; left: 0; display: inline-block; color:#336fdc; font-size: 16px; border:#336fdc 1px solid; height: 50px; line-height: 48px; border-radius:25px; padding:0 26px 0 35px;}
.inst-guide .item .itm-bx .down-bt::after{ content: ''; width:10px; height: 10px; display: inline-block; border-top:#336fdc 2px solid; border-right: #336fdc 2px solid; transform: rotate(45deg); margin-left:24px;}
.inst-guide .item .itm-bx .down-bt:hover{ background-color:#336fdc; color:#fff;}
.inst-guide .item .itm-bx .down-bt:hover::after{ border-color:#fff;}
.inst-guide .item .itm-bx .thum{ width: 460px; }
.inst-guide .item .itm-bx .thum .thumb{ position: relative; }
.inst-guide .item .itm-bx .thum .thumb img{ display: block;}
.inst-guide .item .itm-bx .thum .thumb a{ width: 60px; height: 60px; background:url('../images/ic_play2.png') 50% 50% no-repeat; display: block; text-indent: -9999px; position: absolute; top:50%; left:50%; margin:-30px 0 0 -30px;}
.inst-guide .item .itm-bx .thum .thumb a:hover{ opacity: .8;}
.inst-guide .item .itm-bx .thum .caption{ text-align: center; color:#024dfe; font-size: 16px; margin-top:30px; display: block;}


/* pricing */
.step-tit{ border:#336fdc 2px solid; height: 40px; line-height: 36px; width: 110px; text-align: center; font-size: 18px; color:#336fdc; display: block; font-weight: 400; border-radius: 20px; margin:0 0 45px 0;}
.step-tit i{ font-size: 16px; display: inline-block; margin-right: 10px;}
.pric-bx + .step-tit{ margin-top:80px;}
.pric-bx::after{ content: ''; display: block; clear: both; font-size: 0; height: 0;}
.pric-bx .dv-l{ float:left; width: 660px;}
.pric-bx .dv-r{ float:right; width: 480px;}
.pric-bx .pric-tit{ height: 60px; position: relative;}
.pric-bx .pric-tit .right{ float:right;}
.pric-bx .pric-tit .tit{ font-size: 28px; color:#111; font-weight: 200; display: inline-block;}
.pric-bx .pric-tit .tit em{ font-weight: 400;}
.pric-bx .pric-tit .tit.sm{ font-size: 20px; font-weight:400;}
.pric-bx .pric-tit span{ margin-left:20px;}
.pric-bx .cmt{ margin-top:25px; padding:0 0 0 20px;}

.data-dv{ border-collapse:separate; *border-collapse:collapse; border-spacing:0px; clear:both; table-layout:fixed; border-top:#494949 2px solid; }
.data-dv .dv-row{ display: table; width: 100%; border-bottom:#ececec 1px solid; table-layout: fixed;}
.data-dv .dv-row > *{ display: table-cell;}
.data-dv .dv-row .dv-grp{ width:50%;}
.data-dv .dv-row .hd{ display: table-cell; width: 180px; height: 60px; vertical-align: middle; background-color:#fbfbfb; font-size: 16px; color:#111; text-align: center;}
.data-dv .dv-row .bd{ display: table-cell; vertical-align: middle; padding:0 10px; font-size: 16px;}
.data-dv .dv-row .dv-grp .bd{ width:420px;}
.data-dv .dv-row .bd,
.data-dv .dv-row .dv-grp + .dv-grp{ border-left:#ececec 1px solid;}
.data-dv .dv-row .help-tx{ display: inline-block; color:#8ea4e4; font-size: 14px;}
.data-dv .input{ min-width: 40%;}
.data-dv .select{ height: 40px; line-height: 40px; width: 40%; border: #ebebeb 1px solid;}

.aggr-bx{ margin-top:80px; border-top:#4374cf 2px solid;}
.aggr-bx .tx-lg{ color:#111; padding:50px 0; text-align: center; font-size: 28px; font-weight: 200;}
.aggr-bx .chk{ position: relative; text-align: center;}
.aggr-bx .chk label{ color:#111; font-size: 16px;}
.aggr-bx .chk label em{ color:#336fdc; text-decoration: underline; cursor: pointer;}
.aggr-bx .btn-box{ margin-top:60px;}
.aggr-bx .btn-box .btn{ width:220px;}

.layPop .data-dv .dv-row .hd{ width:140px; height: 50px; line-height: 50px;}
.layPop .data-dv .dv-row .bd{ height: 50px; line-height: 50px; width: 580px;}
.layPop .data-dv .dv-row .dv-grp .bd{ width: 210px;}
.layPop table.data thead th,
.layPop table.data tbody th{ padding:10px 0; font-size: 16px;}
.layPop table.data td{ height: 49px; line-height: 1.2;}
.layPop .dv-row .ul-list01{ padding:10px;}

.upg-chk{ background-color:#4374cf; border-radius:10px; padding:60px; margin-bottom:120px;}
.upg-chk .tit{ color:#fff; font-weight: 400; line-height: 1; font-size: 36px;}
.upg-chk .tit em{ font-weight: 600;}
.upg-chk .tx-lg{ margin:45px 0 20px; font-size: 20px; color:#fff;}
.upg-chk .inp-grp{ position: relative; display: block; padding:0 130px 0 0;}
.upg-chk .inp-grp .input{ width:100%; display: block; height: 56px; line-height: 54px; text-align: center; font-size: 18px;}
.upg-chk .inp-grp .bt-cp{ position: absolute; top:0; right:0; display: block; width: 125px; height: 56px; line-height: 54px; text-align: center; border:#fff 1px solid; border-radius: 2px; color: #fff;}
.upg-chk .inp-grp .bt-cp:hover{ background-color:#fff; color:#4374cf; }
.upg-chk .cmt{ margin-top:60px; padding:50px 0 0 0; border-top:#fff 1px dotted; text-align: center;}
.upg-chk .cmt span{ display: block; font-size: 28px; color:#fff;}
.upg-chk .cmt strong{ font-size: 18px; color:#c0d1ef; font-weight: 400; display: block; margin-top:10px;}


/* license */
.license-desc01{ font-size: 18px;}

.license-kn{ border:#e1e1e1 1px solid; border-radius:10px; padding:60px; margin-top:80px;}
.license-kn .item + .item{ margin-top:60px; padding-top:60px; border-top:#c7c7c7 1px dotted;}
.license-kn .item > i{ display: inline-block; background-color: #336fdc; color:#fff; text-align: center; line-height: 30px; font-size: 12px; width: 30px; border-radius: 50%;}
.license-kn .item .itm-bx{ position: relative; display: table; width: 100%; margin-top:40px;}
.license-kn .item .itm-bx > *{ display: table-cell; vertical-align: top;}
.license-kn .item .itm-bx h5{ font-size: 28px; color:#111; font-weight: 200;}
.license-kn .item .itm-bx h5 em{ font-weight: 400;}
.license-kn .item .itm-bx .desc ul.ul-list01{ margin-top:20px;}
.license-kn .item .itm-bx .desc ul.ul-list01 li{ font-size:16px;}

/* about */
.about-sec01 .desc{ position: relative; padding-left: calc(50% + 40px); }
.about-sec01 .desc .img{ position: absolute; top:-50px ;left:0; width: 50%; }
.about-sec01 .desc01{ font-size: 36px;}
.about-sec01 .desc01 span{ font-weight: 200; display: block;}
.about-sec01 .desc01 em{ position: relative; font-weight: 400;}
.about-sec01 .desc01 em::after{ content: ''; position: absolute; bottom:8px; left:0; width: 100%; height: 1px; background-color:#1B1B1F;}
.about-sec01 .desc01 strong{ font-weight: 400;}
.about-sec01 .desc02{ font-size: 16px; margin-top:50px; padding-right: 100px;}
.about-lst{ margin-top:160px; overflow: hidden; margin-left:-60px;}
.about-lst li{ position: relative; width: 360px; height: 380px; border-radius: 10px; overflow: hidden; margin-left:60px; float: left; text-align: center; padding-top:180px;}
.about-lst li strong{ display: block; font-size: 30px; font-weight: 400; margin-bottom:25px;}
.about-lst li::before{ content: ''; display: block; position: absolute; top:76px; left:50%; margin-left:-30px; width: 60px; height: 60px; background-position: 50% 50%; background-repeat: no-repeat;}
.about-lst li:nth-child(1){ background-color:#1f57e1; color:#fff;}
.about-lst li:nth-child(2){ background-color:#fff; color:#111; border:#ebebeb 1px solid;}
.about-lst li:nth-child(3){ background-color:#eeeff2; color:#111;}
.about-lst li:nth-child(1)::before{ background-image:url('../images/about_ic1.png');}
.about-lst li:nth-child(2)::before{ background-image:url('../images/about_ic2.png');}
.about-lst li:nth-child(3)::before{ background-image:url('../images/about_ic3.png');}

.about-sec02{ margin-top:80px; border-top:#e5e5e5 1px solid;}
.about-sec02 .map-bx{ border-radius: 10px; overflow: hidden; margin-top:50px;}
.about-sec02 .map-bx .map{ width: 100%; height: 400px;}
.about-sec02 .loc-bx{ margin-top:80px; overflow: hidden; margin-left:-45px;}
.about-sec02 .loc-bx li{ position: relative; float:left; width: 370px; margin-left:45px; padding-left:120px; font-size: 16px; }
.about-sec02 .loc-bx li::before{ content: ''; display: block; position: absolute; top:50%; left:40px; width: 40px; height: 40px; margin-top:-20px; background-position: 50% 50%; background-repeat: no-repeat;}
.about-sec02 .loc-bx li strong{ display: block; border-bottom:#0d1d42 1px solid; padding-bottom:10px;}
.about-sec02 .loc-bx li span{ margin-top:10px; display: block;}
.about-sec02 .loc-bx li:nth-child(1)::before{ background-image: url('../images/about_loc1.png');}
.about-sec02 .loc-bx li:nth-child(2)::before{ background-image: url('../images/about_loc2.png');}
.about-sec02 .loc-bx li:nth-child(3)::before{ background-image: url('../images/about_loc3.png');}



.price-tx{ font-size: 1.125rem;}
.price-tx a{ color: #336fdc; text-decoration: underline;}

.eng-tw .div-tab{ margin: 100px 0 80px;}
.eng-tw .pric-bx2{ margin-top:50px;}
.eng-tw .pric-bx2 .tx01{ font-size: 1rem;}
.eng-tw .pric-bx2 .form-bx{ display: table; width: 100%; margin-top:20px;}
.eng-tw .pric-bx2 .form-bx > *{ display: table-cell; vertical-align: middle;}
.eng-tw .pric-bx2 .form-bx .hd{ width: 75px;}
.eng-tw .pric-bx2 .form-bx .hd::before{ content: ''; width: 3px; height: 3px; display: inline-block; margin-right: 10px; background-color: #e1e1e1; vertical-align: middle;}
.eng-tw .pric-bx2 .form-bx .input{ width: 50%;}

/* .pop-video{ width:880px; display:none;}
.pop-video .video{ width:100%; margin:0;}
.pop-video .mov { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; }
.pop-video .mov iframe,
.pop-video .mov object,
.pop-video .mov embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.pop-video .bt-close{ position: absolute; top:-40px; right:0; width:33px; height: 33px; background:url('../images/bt_close.png') 50% 50% no-repeat; display: block; text-indent: -9999px;}

.pop-ani{ width:880px; display:none;}
.pop-ani .video{ width:100%; margin:0;}
.pop-ani .mov { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; }
.pop-ani .mov iframe,
.pop-ani .mov object,
.pop-ani .mov embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.pop-ani .bt-close{ position: absolute; top:-40px; right:0; width:33px; height: 33px; background:url('../images/bt_close.png') 50% 50% no-repeat; display: block; text-indent: -9999px;}

 */